username,upn,password,group
domain-admin,domain-admin@${domain_name},P@ssword1,Domain Admins
vault-service,vault-service@${domain_name},P@ssword1,Domain Admins
vault-reader1,vaultreader1@${domain_name},P@ssword1,vault-reader
vault-reader2,vaultreader2@${domain_name},P@ssword1,vault-reader
vault-contributor1,vaultcontributor1@${domain_name},P@ssword1,vault-contributor
vault-contributor2,vaultcontributor2@${domain_name},P@ssword1,vault-contributor
vault-owner1,vaultowner1@${domain_name},P@ssword1,vault-owner
vault-owner2,vaultowner2@${domain_name},P@ssword1,vault-owner